<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>就職Portal Main</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="就職Portal Main">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="就職Portal Main">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/company_slave_egg_favicon.ico}" sizes="192x192"
	href="../static/img/company_slave_egg_favicon.ico">
<link rel="shortcut icon" th:href="@{/img/company_slave_egg_favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/company_slave_egg_favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/company_slave_egg_favicon.ico}"
	sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/company_slave_egg_favicon.ico}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">
<script th:src="@{/js/task.js}"></script>
</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}">就職Portal.com</a>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarToggler" aria-controls="navbarToggler"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/change}"> <img class="config-img"
						th:src="@{/img/config.png}" src="../static/img/config.png">
				</a></li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/logout}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<!-- コンテンツ -->
	<div class="container">
		<div class="content-box">
			<h2>ユーザ詳細</h2>
			<div class="input-form">
			<div class="alert alert-warning" role="alert" th:if="${errMsg}"
				th:text="${errMsg}"></div>
				<form method="post" th:action="@{/user/update}"
					th:object="${userFormForUpdate}">

					<label for="user_id">ユーザID(メールアドレス)</label>
					<p class="view-mail" th:text="*{user_id}"></p>
					<input type="hidden" name="user_id" th:value="*{user_id}">

					<hr>

					<label for="user_name" class="required">ユーザ名</label>
					<div class="form-group input-box">
						<input type="text" class="form-control" name="user_name"
							th:field="*{user_name}">
					</div>


					<label for="encrypted_password" class="required">パスワード</label>
					<div class="form-group input-box">
						<input type="password" class="form-control"
							name="encrypted_password" th:field="*{encrypted_password}"
							placeholder="xxxxxxxx">
						<p>※未入力の場合、前のパスワードを維持します</p>
					</div>

					<label for="user_class">クラス</label>
					<div class="form-group input-box">
						<th:block th:if="*{user_class} == null">
							<input type="text" class="form-control" name="user_class"
								th:field="*{user_class}" placeholder="所属なし">
						</th:block>
						<th:block th:if="*{user_class} != null">
							<input type="text" class="form-control" name="user_class"
								th:field="*{user_class}">
						</th:block>
					</div>

					<label for="user_class_number">出席番号</label>
					<div class="form-group input-box">
						<input type="text" class="form-control" name="user_class_numbere"
							th:field="*{user_class_number}">
					</div>

					<label for="role">ダークモード</label>
					<div class="form-group input-box">
						<div>
							<input type="radio" name="darkmode"
								th:checked="*{dark_mode == true}" value="true">有効
						</div>
						<div>
							<input type="radio" name="darkmode"
								th:checked="*{dark_mode == false}" value="false">無効
						</div>
					</div>



					<label for="role">ユーザ状態</label>
					<div class="form-group input-box">
						<div>
							<input type="radio" name="user_status"
								th:checked="*{user_status == true}" value="true">有効
						</div>
						<div>
							<input type="radio" name="user_status"
								th:checked="*{user_status == false}" value="false">無効
						</div>
					</div>

					<label for="role">権限設定</label>
					<div class="form-group input-box">
						<div>
							<input type="radio" name="user_authority"
								th:checked="*{user_authority == 'STUDENT'}" value="STUDENT">生徒
						</div>
						<div>
							<input type="radio" name="user_authority"
								th:checked="*{user_authority == 'TEACHER'}" value="TEACHER">担任
						</div>
						<div>
							<input type="radio" name="user_authority"
								th:checked="*{user_authority == 'STAFF'}" value="STAFF">事務
						</div>
					</div>
					<button class="btn btn-primary" type="submit" name="update">更新</button>
				</form>
				<hr>
				<form method="post" th:action="@{/user/delete}"
					th:object="${userData}">
					<input type="hidden" th:value="*{user_id}" name="user_id">
					<button class="btn btn-danger" type="submit" name="delete">削除</button>
				</form>
			</div>
		</div>
	</div>

	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>