
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- ログイン -->
	<div class="container" style="text-align: center">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/login}">ログイン</a>
		</h1>

		<hr>
		<div class="input-form">
			<form method="post" th:action="@{/login}">
				<label for="user_id">ユーザID(メールアドレス)</label> <input type="text"
					class="form-control input-box" name="user_id"> <br> <label
					for="password">パスワード</label> <input type="password"
					class="form-control input-box" name="password">

				<div>
					<button type="submit" class="btn btn-primary">ログイン</button>
				</div>
			</form>
			<br>
			<div>
				<button type="button" class="btn btn-primary" th:href="@{/top}">ゲストでログイン</button>
			</div>
			<br>

			<div>

				<form method="get" th:action="@{/user/insert}">
					<button type="submit" class="btn btn-primary">新規登録</button>
				</form>

				<br>
			</div>
			<div>
				<form method="get" th:action="@{/user/user_setting}">
					<button type="submit" class="btn btn-primary">ユーザ管理画面</button>
				</form>

			</div>
		</div>
	</div>

	<hr>



	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>