
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- ログインのみのヘッダ -->
	<nav class="navbar navbar-dark bg-dark justify-content-end">

	<a class="nav-link" th:href="@{/change}">
		<img class="config-img" th:src="@{/img/config.png}" src="../../static/img/config.png"></a>

	<h1>
	<a class="navbar-brand title-font" th:href="@{/top}">
		<font color="white">HCSTube</font>
		</a>
	</h1>

</nav>

	<!-- ログイン -->
	<div class="container" style="text-align: center">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/login}">ログイン</a>
		</h1>

		<hr>
		<div class="input-form">
			<form method="post" th:action="@{/login}">
				<label for="user_id">ユーザID(メールアドレス)</label> <input type="text"
					class="form-control input-box" name="user_id"> <br> <label
					for="password">パスワード</label> <input type="password"
					class="form-control input-box" name="password">

					<button type="button" class="btn btn-secondary" style="margin-right: 60px; width: 170px; height: 40px" th:href="@{/top}">ゲストでログイン</button>
					<button type="submit" class="btn btn-primary" style="width: 170px">ログイン</button>
			</form>
			<br>
			<br>

			<div>

				<form method="get" th:action="@{/user/insert}">
					<button type="submit" class="btn btn-primary" style="width: 170px">新規登録</button>
				</form>

				<br>
			</div>
		</div>
	</div>

	<hr>



	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>