
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="HCStube Main">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="HCStube Main">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/company_slave_egg_favicon.ico}"
	sizes="192x192" href="../static/img/company_slave_egg_favicon.ico">
<link rel="shortcut icon"
	th:href="@{/img/company_slave_egg_favicon.ico}">
<link rel="apple-touch-icon"
	th:href="@{/img/company_slave_egg_favicon.ico}">
<link rel="apple-touch-icon"
	th:href="@{/img/company_slave_egg_favicon.ico}" sizes="192x192">
<link rel="apple-touch-icon"
	th:href="@{/img/company_slave_egg_favicon.ico}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../../static/css/home.css">

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<nav class="navbar navbar-dark bg-dark">

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarToggler" aria-controls="navbarToggler"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/login}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">LIVE</button>
					</form>
				</li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/login}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Upload</button>
					</form>
				</li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/login}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Message</button>
					</form>
				</li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/login}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
					</form>
				</li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/change}"> <img class="config-img"
						th:src="@{/img/config.png}" src="../../static/img/config.png">
				</a></li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/login}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
					</form>
				</li>
			</ul>
		</div>
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}"><font
				color="white">HCSTube</font></a>
		</h1>
	</nav>

	<!-- コンテンツ -->
	<div class="container">
		<h2>新規登録</h2>

<br>
		<div class="input-form">
			<form method="post" th:action="@{/user/insert}"
				th:object="${userForm}">

				<div class="row row-cols-1 row-cols-md-2 gy-3 mb-md-5">

					<div class="col-md-5 mb-4">
						<h5 class="fw-bold text-center">ユーザID</h5>
						<small class="text-danger text-center">※必須</small>
					</div>
					<div class="col-md-5 mb-1">
						<input type="text" name="user_id" required id="user_id"
							class="form-control"> <small>メールアドレスを入力してください</small>
					</div>

					<div class="col-md-5 mb-1">
						<h5 class="fw-bold text-center">ニックネーム</h5>
						<small class="text-danger text-center">※必須</small>
					</div>
					<div class="col-md-5 mb-1">
						<input type="text" class="form-control" name="user_name"
							required id="user_name"> <small>作成後変更が可能です</small>
					</div>

					<div class="col-md-5 mb-1">
						<h5 class="fw-bold text-center">パスワード</h5>
						<small class="text-danger text-center">※必須</small>
					</div>
					<div class="col-md-5 mb-1">
						<input type="password" class="form-control" name="encrypted_password"
							required id="encrypted_password" value=""> <small>下記の条件でパスワード設定をお願いします。</small><br>
							<div align="left"><small>・半角英文字記号の２つ以上の組み合わせ<br> (使用可能記号 ./:;()&?![]{}#%*+_|-&lt;&gt;$)<br>
							・8～16文字以内<br>下記のパスワードは設定できません。<br>・数字のみ、英字のみ、記号のみのパスワード)
						</small></div>
					</div>
				</div>

				<button type="submit" class="btn btn-warning">作成</button>
			</form>
		</div>
	</div>

	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>