
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<nav class="navbar navbar-dark bg-dark justify-content-end">

	<nav class="navbar navbar-dark bg-dark justify-content-end">
	<h1 class="navbar-brand title-font">
		<a th:href="@{/login}">
		<font color="white"><b>HCSTube</b></font>
		</a>
	</h1>
	</nav>

</nav>

	<!-- コンテンツ -->
	<div class="container">
		<h2>新規登録</h2>

		<br>
		<div class="input-form">
			<form method="post" th:action="@{/user/insert}"
				th:object="${userForm}">

				<div class="row row-cols-1 row-cols-md-2 gy-3 mb-md-5">

					<div class="col-md-5 mb-4">
						<h5 class="fw-bold text-center">ユーザID</h5>
						<small class="text-danger text-center">※必須</small>
					</div>
					<div class="col-md-5 mb-5">
						<input type="text" name="user_id" required id="user_id"
							class="form-control" th:field="*{user_id}"> <span class="text-danger"
							th:if="${#fields.hasErrors('user_id')}"
							th:errors="*{user_id}">パスワードは〇文字以上で入力してください。</span><small>メールアドレスを入力してください</small>
					</div>

					<div class="col-md-5 mb-1">
						<h5 class="fw-bold text-center">ニックネーム</h5>
						<small class="text-danger text-center">※必須</small>
					</div>
					<div class="col-md-5 mb-5">
						<input type="text" class="form-control" name="user_name" required
							id="user_name" th:field="*{user_name}"> <small>作成後変更が可能です</small>
					</div>


					<div class="col-md-5 mb-1">
						<h5 class="fw-bold text-center">パスワード</h5>
						<small class="text-danger text-center">※必須</small>
					</div>
					<div class="col-md-5 mb-1">
						<input type="password" class="form-control"
							name="encrypted_password" required id="encrypted_password"
							value=""> <span class="text-danger"
							th:if="${#fields.hasErrors('encrypted_password')}"
							th:errors="*{encrypted_password}">パスワードは〇文字以上で入力してください。</span><br>
						<small>下記の条件でパスワード設定をお願いします。</small><br>
						<div align="left">
							<small>・半角英文字<br>
							・半角英数字<br>
							・8～16文字以内<br>
							</small>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-warning">作成</button>
			</form>
		</div>
	</div>

	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>