
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
	<div class="container">
		<h2>新規登録</h2>

		<br>
		<div class="input-form">
			<form method="post" th:action="@{/user/insert}"
				th:object="${userForm}">

				<div class="row row-cols-1 row-cols-md-2 gy-3 mb-md-5">

					<div class="col-md-5 mb-4">
						<h5 class="fw-bold text-center">ユーザID</h5>
						<small class="text-danger text-center">※必須</small>
					</div>
					<div class="col-md-5 mb-1">
						<input type="text" name="user_id" required id="user_id"
							class="form-control"> <small>メールアドレスを入力してください</small>
					</div>

					<div class="col-md-5 mb-1">
						<h5 class="fw-bold text-center">ニックネーム</h5>
						<small class="text-danger text-center">※必須</small>
					</div>
					<div class="col-md-5 mb-1">
						<input type="text" class="form-control" name="user_name" required
							id="user_name"> <small>作成後変更が可能です</small>
					</div>


					<div class="col-md-5 mb-1">
						<h5 class="fw-bold text-center">パスワード</h5>
						<small class="text-danger text-center">※必須</small>
					</div>
					<div class="col-md-5 mb-1">
						<input type="password" class="form-control"
							name="encrypted_password" required id="encrypted_password"
							value=""> <span class="text-danger"
							th:if="${#fields.hasErrors('encrypted_password')}"
							th:errors="*{encrypted_password}">パスワードは〇文字以上で入力してください。</span><br>
						<small>下記の条件でパスワード設定をお願いします。</small><br>
						<div align="left">
							<small>・半角英文字記号の２つ以上の組み合わせ<br> (使用可能記号
								./:;()&?![]{}#%*+_|-&lt;&gt;$)<br> ・8～16文字以内<br>下記のパスワードは設定できません。<br>・数字のみ、英字のみ、記号のみのパスワード)
							</small>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-warning">作成</button>
			</form>
		</div>
	</div>

	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>