
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
	<div class="container">

		<div align="left" style="margin-top: 10px; margin-left: 20px">
			<button type="button" class="btn btn-light" onclick="history.back()">戻る</button>
		</div>

		<h2>ユーザ詳細画面</h2>
		<br>
		<div class="content-userbox">
		<form method="post" th:action="@{/user/reverse}"
			th:object="${userFormForUpdate}">
			<h5 class="fw-bold text-center" style="text-decoration: underline;">ユーザID</h5>
			<br>
			<h5 class="fw-bold text-center" th:text="*{user_id}"></h5>
			<input type="hidden" name="user_id" th:value="*{user_id}">
			<hr>
			<h5 class="fw-bold text-center" style="text-decoration: underline;">ニックネーム</h5>
			<br>
			<h5 class="fw-bold text-center" th:text="*{user_name}"></h5>
			<input type="hidden" name="user_name" th:value="*{user_name}">
			<hr>
			<h5 class="fw-bold text-center">
				状態： <input type="radio" name="user_status" value=1 th:field="*{user_status}" style="transform:scale(1.5);"> 有効
					<input type="radio" name="user_status" value=0 th:field="*{user_status}" style="transform:scale(1.5);"> 無効
			</h5>
			<button type="submit" class="btn btn-success" style="width: 90px; height: 40px">変更</button>
		</form>
		</div>

	</div>



	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>