
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<script
	src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<script
	src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
<script>
	jQuery(function($) {
		$(".table")
				.DataTable(
						{
							"language" : {
								"url" : "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
							},
							lengthMenu : [ 3, 5, 10 ],
							searching : false

						});
	});
</script>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
	<div class="container">
		<h2>ユーザ管理画面</h2>
		<div class="input-group">
			<form method="post" th:action="@{/user/search}">
				<input type="text" class="form-control" name="keyword"
					placeholder="ユーザ検索(ユーザID,ニックネーム,登録日時)"> <span
					class="input-group-btn"> <select name="category">
						<option value="user_id">ユーザID</option>
						<option value="user_name">ニックネーム</option>
				</select>
					<button type="submit" class="btn btn-info">検索</button>
				</span>
			</form>
		</div>

		<hr>


		<div class="table-responsive">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>ユーザID（メールアドレス）</th>
						<th>ニックネーム</th>
						<th>詳細</th>
					</tr>
				</thead>
				<tbody class="table-light">
					<!-- ユーザID（メールアドレス） -->
					<tr th:each="result : ${userEntity.userlist}" th:object="${result}">
						<td th:text="*{user_id}"></td>

						<!-- 氏名 -->
						<td th:text="*{user_name}"></td>
						<!-- 詳細 -->
						<td><a class="btn btn-success"
							th:href="@{'/user/detail/' + *{user_id}}">詳細</a></td>
					</tr>
				</tbody>
			</table>


		</div>

	</div>



	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>