
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
	<div class="container">
		<h2>ユーザ詳細画面</h2>
		<br>
		<form method="post" th:action="@{/user/detail}"
			th:object="${userFormForUpdate}">
			<div>
				<label for="user_id">ユーザID(メールアドレス)</label>
				<p class="view-mail" th:text="*{user_id}"></p>
				<input type="hidden" name="user_id" th:value="*{user_id}"> <br>

				<hr>

				<label for="user_name" class="required">ユーザ名</label>
				<div class="form-group input-box">
					<input type="text" class="form-control" name="user_name"
						th:field="*{user_name}">
				</div>
				<br> <label for="status_flg">ユーザ状態</label>
				<div th:switch="${status_flg}">
					<p th:case="true">有効</p>
					<p th:case="false">無効</p>
				</div>
				<input type="hidden" name="user_status" th:value="*{user_status}">
				<input type="hidden" name="user_authority" th:value="*{user_authority}">
			</div>
			<br>
			<div>
				<button type="submit" class="btn btn-warning">変更</button>
			</div>
		</form>
	</div>



	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>