<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>就職Portal Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body>

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
	<div class="container">
		<div class="content-box">
			<h1>ユーザ一覧</h1>
			<h4>絞り込み検索</h4>
			<form method="post" th:action="@{/user/search}">
				<input type="radio" name="category" value="user_id" checked>ユーザID
				<input type="radio" name="category" value="user_name">ニックネーム
				<input type="radio" name="category" value="user_authority">権限
				<input type="radio" name="category" value="user_status">ユーザ状態
				<p></p>
				<div class="input-group">
					<input type="text" class="form-control" name="keyword"
						placeholder="検索キーワード: XXXXXXX"> <span
						class="input-group-btn">
						<button type="submit" class="btn btn-info">検索</button>
					</span>
				</div>
				<p></p>
			</form>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>ユーザID（メールアドレス）</th>
						<th>ニックネーム</th>
						<th>権限</th>
						<th>ユーザ状態</th>
						<th>詳細</th>
					</tr>
				</thead>
				<tbody class="table-light">
					<!-- ユーザID（メールアドレス） -->
					<tr th:each="result : ${userEntity.userlist}" th:object="${result}">
						<td th:text="*{user_id}"></td>

						<!-- 氏名 -->
						<td th:text="*{user_name}"></td>

						<!-- 権限 -->
						<th th:switch="*{user_authority}">
							<p th:case="general">一般</p>
							<p th:case="admin">管理者</p> <!-- ユーザ状態 -->
						<th th:switch="*{user_status}">
							<p th:case="true">
								<a class="btn btn-success"
									th:href="@{'/user/reverse/' + *{user_id}}">有効</a>
							</p>
							<p th:case="false">
								<a class="btn btn-success"
									th:href="@{'/user/reverse/' + *{user_id}}">無効</a>
							</p> <!-- 詳細 -->
						<td><a class="btn btn-success"
							th:href="@{'/user/detail/' + *{user_id}}">詳細</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>