
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
	<div class="container">
		<h2>ユーザ管理画面</h2>
		<div class="input-group">
			<input type="text" class="form-control" name="keyword"
				placeholder="ユーザ検索(ユーザID,ニックネーム,登録日時)"> <span
				class="input-group-btn"><select name="set"><option
						value="項目">選択肢1</option></select>
				<button type="submit" class="btn btn-info">検索</button> </span>
		</div>

		<hr>


		<div class="table-responsive">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>ユーザID</th>
						<th>ニックネーム</th>
						<th>登録日時</th>
					</tr>
				</thead>
				<tbody class="table-light">
					<td>xxx@yyy.zzz</td>
					<td>ハシモトバカ</td>
					<td>2022/01/11</td>
				</tbody>
			</table>

			<div class="nav-links" align="right">
				<a class="prev page-numbers"
					href="https://techacademy.jp/magazine/category/webdesign/">«</a>
				<!-- 現在の前のページへのリンク -->
				<a class="page-numbers"
					href="https://techacademy.jp/magazine/category/webdesign/">1</a>
				<!-- 1ページ目へのリンク -->
				<span class="page-numbers current">2</span>
				<!-- 現在閲覧しているページ(2ページ) -->
				<a class="page-numbers"
					href="https://techacademy.jp/magazine/category/webdesign/page/3">3</a>
				<!-- 3ページ目へのリンク -->
				<span class="page-numbers dots">…</span>
				<!-- ...の部分 -->
				<a class="page-numbers"
					href="https://techacademy.jp/magazine/category/webdesign/page/6">6</a>
				<!-- 27ページ目(最後のページ)へのリンク -->
				<a class="next page-numbers"
					href="https://techacademy.jp/magazine/category/webdesign/page/3">»</a>
				<!-- 現在の次のページへのリンク -->
			</div>

			<br> <a class="btn btn-success" th:href="@{/user/newuser}">新規作成</a>
		</div>

	</div>



	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>