
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
	<div class="container">
		<h2>ユーザ詳細画面</h2>
		<br>
		<div>
			<h5 class="fw-bold text-center">ユーザID：xxx@yyy.zzz</h5>
			<br>
			<h5 class="fw-bold text-center">
				ニックネーム： <input type="text"></input>
			</h5>
			<br>
			<h5 class="fw-bold text-center">アップロード数：99,999</h5>
			<br>
			<h5 class="fw-bold text-center">状態：無効</h5>
		</div>
		<br>
		<div>
			<button type="submit" class="btn btn-warning">変更</button>
		</div>
	</div>



	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>