<!DOCTYPE html>
<html>
<meta http-equiv="content-type" charset="UTF-8">
<link rel="stylesheet" href="./css/style.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="./css/all.min.css">
<body>
        <div id="container">
        <div id="Hi-top">
                <i class="fab fa-youtube fa-4x hcs-blue">HCStube</i>
        </div>
        <div id="top">
        <iframe id="playerField" src="http://10.11.39.164/player.html" width="75%" height="100%"></iframe>
        <div id="talkField">
                <div id="result"></div>
                <br class="clear_balloon"/>
                <div id="end"></div>
        </div>
        </div>
        <div id="inputField">
                <table  border="0">
                <tr><td>Name:</td><td><input type="text" name="user" id="user" value="聞きたがり@HCS"></td></tr>
                <tr><td>Message:</td><td> <textarea name="message" id="message" rows="5" cols="50"></textarea></td>
                        <td><input type="button" id="greet" value="send"></td></tr>
                </table>
        </div>
        </div>
        <script src="./js/jquery-2.1.4.min.js"></script>
        <script src="./js/main.js"></script>
</body>
</html>