
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
		<div class="container">
		<div align="left">
		<button type="button" class="btn btn-light">戻る</button>
		</div>
			<h2 style="margin-top: 10px;">動画をアップロードする</h2>


			<div class="input-form" style="margin-top: 50px;">
				<form method="post"enctype="multipart/form-data" th:action="@{/files}"
					th:object="${userForm}">

					<div class="row row-cols-1 row-cols-md-2 gy-3 mb-md-5">

					<div class="col-md-5 mb-4">
									<h5 class="fw-bold text-center">動画を選択</h5>
								</div>
						<div class="col-md-5 mb-1">
							<input type="file"  accept=".mp4" name="file">
								<hr>
								<small>動画形式：MP4のみ対応</small>

						</div>

						<div class="col-md-5 mb-1">
									<h5 class="fw-bold text-center">タイトル</h5>
								</div>
						<div class="col-md-5 mb-1">
							<input type="text" class="form-control" name="movie_title" placeholder="タイトルを入力してください"
								required id="movie_title" value="">

						</div>

						<div class="col-md-5 mb-1">
									<h5 class="fw-bold text-center">概要</h5>
								</div>
						<div class="col-md-5 mb-1">
							<textarea class="form-control" name="content" style="max-width: 800px; max-height: 100px;" placeholder="動画の内容などを入力してください"
								required id="content"></textarea>

						</div>
					</div>
					<br>

					<input type="submit" value="Upload" class="btn btn-primary" style="-webkit-appearance: none; width: 200px; height: 45px; font-size: 15px;">
				</form>
			</div>
		</div>

	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>