
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
		<div class="container">
		<div align="left">
		<button type="button" class="btn btn-light">戻る</button>
		</div>
			<h2 style="margin-top: 10px;">アップロード済み動画  詳細</h2>


			<div class="input-form" style="margin-top: 50px;">
				<form method="post" th:action="@{/user/insert}"
					th:object="${userForm}">

					<div class="row row-cols-1 row-cols-md-2 gy-3 mb-md-5">

					<div class="col-md-5 mb-4">
									<h5 class="fw-bold text-center">動画を選択</h5>
								</div>
						<div class="col-md-5 mb-1">
							<input type="file"  name="company_name"
								required id="company_name">
								<hr>
								<small>動画形式：MP4のみ対応</small>
								 <small
								class="form-text input-group justify-content-md-start justify-content-center text-danger"
								th:if="${#fields.hasErrors('company_name')}"
								th:errors="*{company_name}"> エラーメッセージ</small>
						</div>

						<div class="col-md-5 mb-1">
									<h5 class="fw-bold text-center">タイトル</h5>
								</div>
						<div class="col-md-5 mb-1">
							<input type="text" class="form-control" name="company_name" placeholder="タイトルを入力してください"
								required id="company_name" value="">
								 <small
								class="form-text input-group justify-content-md-start justify-content-center text-danger"
								th:if="${#fields.hasErrors('company_name')}"
								th:errors="*{company_name}"> エラーメッセージ </small>
						</div>

						<div class="col-md-5 mb-1">
									<h5 class="fw-bold text-center">概要</h5>
								</div>
						<div class="col-md-5 mb-1">
							<textarea class="form-control" name="company_name" style="max-width: 800px; max-height: 100px;" placeholder="動画の内容などを入力してください"
								required id="company_name"></textarea>
								 <small
								class="form-text input-group justify-content-md-start justify-content-center text-danger"
								th:if="${#fields.hasErrors('company_name')}"
								th:errors="*{company_name}"> エラーメッセージ </small>
						</div>
					</div>

					<button type="submit" class="btn btn-success" style="-webkit-appearance: none; width: 300px; height: 35px; font-size: 15px;">編集</button>
				</form>
<br>
<br>
<br>
				<button type="submit" class="btn btn-danger" style="-webkit-appearance: none; width: 150px; height: 35px; font-size: 15px;">動画を削除</button>
			</div>
		</div>

	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>