
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>HCStube Main</title>

<!-- モバイル設定 -->
<th:block th:insert="components/part::frag_mobile"></th:block>
<!-- アイコン設定 -->
<th:block th:insert="components/part::frag_icon"></th:block>
<!-- スタイル設定 -->
<th:block th:insert="components/part::frag_style"></th:block>


<style>
a {
	margin-right: 10px;
}
</style>

<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelementplayer.css" />
</head>

<body>

	<!-- 共通ヘッダ -->
	<th:block th:replace="components/part::frag_header"></th:block>

	<!-- コンテンツ -->
	<div align="left" style="margin-top: 10px; margin-left: 20px">
		<button type="button" class="btn btn-light" onclick="history.back()">戻る</button>
	</div>

	<div align="right" th:if="${flg}">
		<form method="get"
			th:action="@{'/movie/update/' + ${movieData.movie_id}}">
			<button class="btn btn-success">編集</button>
		</form>
	</div>

	<form th:object="${movieData}">
		<div class="container">
			<div class="content-moviebox">

				<script
					src="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelement-and-player.js"></script>
				<video  id="player" width="100%" height="700"></video>
			</div>
			<h3 th:text="*{movie_title}" align="left"></h3>
			<div th:text="*{post_time}" style="font-size: 15px;" align="left"></div>
			<hr style="width: 100%;">
		</div>

		<br>
		<div class="container">
			<details>
				<summary style="font-size: 25px; text-align: left;">概要▸</summary>
				<div class="content-box">
					<p th:text="*{movie_detail}"></p>
				</div>
			</details>
			<hr style="width: 100%">
		</div>
	</form>



	<div class="container">

		<details>
			<summary style="font-size: 25px; text-align: left;">コメント▸</summary>
			<br>
			<div style="height: 100%; width: 100%;" align="left">
				<th:block th:if="${commentEntity.commentlist.isEmpty}">コメントは投稿されていません。</th:block>

				<div
					style="background-color: #FFFFFF; max-height: 500px; overflow-y: scroll;">
					<div th:each="result : ${commentEntity.commentlist}"
						th:object="${result}">
						<a><b th:text=*{user_name}></b> : </a> <a th:text=*{post_time}></a><br>
						<a th:text=*{comment_content} style="margin-left: 20px"></a>
						<hr>
					</div>
				</div>
			</div>




			<div class="container"
				sec:authorize="hasAuthority('admin') || hasAuthority('general')">
				<form method="post" class="form-inline"
					th:action="@{/comment/insert}" id="commentForm"
					target="sendMessage">
					<input class="form-control mr-sm-2"
						style="width: 85%; height: 25px;" type="text"
						placeholder="コメントをする" aria-label="Search" name="comment_content"
						id="comment_content">
					<button class="btn btn-outline-success my-2 my-sm-0" type="button"
						id="commentSubmit">送信</button>
					<input type=hidden th:value=${movieData.movie_id} name=movie_id>
				</form>
				<iframe name="sendMessage"
					style="width: 0px; height: 0px; border: 0px;"></iframe>
			</div>
			<div class="container" sec:authorize="hasAuthority('guest')">
			動画にコメントをする場合は <a th:href="@{/login}">アカウントログイン</a>を行ってください。
			<br>
			新規登録は<a th:href="@{/user/insert}"> こちら</a>
			</div>
			<input type=hidden th:value=${movieData.movie_id} name=movie_id id=movie_id>
		</details>
		</th:block>
		</th:block>
	</div>
	<br>
	<br>
	<br>

	<!-- 共通スクリプト -->
	<th:block th:insert="components/part::frag_script"></th:block>

</body>



<script type="text/javascript">
	var $form = $('#commentForm'), $trigger = $('#commentSubmit'), $iframe = $('iframe[name="sendMessage"]');

	$trigger.click(function() {
		$form.submit();
		$form[0].reset();
		alert("以下の内容を送信しました。");
		return false;
	});

	$form.submit(function() {
		$iframe.unbind().bind('load', function() {
			// 結果が見たい場合はココで処理
		});
	});

	var video_id = document.getElementById('movie_id');

	var player = new MediaElementPlayer('player', {
		success : function(mediaElement, originalNode) {
			console.log("Player initialised");
		}
	});
	player.setSrc("http://10.11.39.164/Video/" + video_id.value + "/" + video_id.value + ".m3u8");
</script>

</html>