			<!DOCTYPE html>
			<html xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
			<head>

			<meta charset="UTF-8">
			<title>Main</title>

			<!-- モバイル設定 -->
			<th:block th:insert="components/part::frag_mobile"></th:block>
			<!-- アイコン設定 -->
			<th:block th:insert="components/part::frag_icon"></th:block>
			<!-- スタイル設定 -->
			<th:block th:insert="components/part::frag_style"></th:block>

		</head>

			<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

				<!-- 共通ヘッダ -->
				<th:block th:replace="components/part::frag_header"></th:block>

				<!-- コンテンツ -->

				<div class="container">


				<div class="row">
					<form method="post" class="form-inline" th:action="@{/movie/search}">
						<input class="form-control mr-sm-2" style="width: 450px;"
							name="keyword" type="search" placeholder="キーワードを入力"
							aria-label="Search">
						<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">検索</button>
					</form>

				</div>



					<h2 style="margin-top: 50px; color: red;">LIVE</h2>
					<th:block th:if="${msg != null}">
						<div class="alert alert-primary">
							<span th:text="${msg}"></span>
						</div>
					</th:block>

					<th:block th:if="${errMsg != null}">
						<div class="alert alert-danger">
							<span th:text="${errMsg}"></span>
						</div>
					</th:block>
					<th:block th:if="${msg == null}">
						<div class="row" style="margin-top: 50px;">


							<div class="content-box">
								<div th:each="result : ${liveEntity.liveList}"
									th:object="${result}"></div>
								<form method="get" action="@{'/liveMovie/' + *{live_id}}">
									<input type="image" name="submit" width="300" height="200"
										th:src="" alt="送信">
									<h3 th:text=*{live_name}></h3>
								</form>
							</div>

							<hr>

						</div>
					</th:block>


					<h2 style="margin-top: 50px;">MOVIE</h2>
					<div class="row" style="margin-top: 50px;">

						<div th:each="result : ${movieEntity.movielist}"
							th:object="${result}">
							<div class="content-moviebox_top">
								<form method="get" th:action="@{'/watcthMovie/' + *{movie_id}}"
									name="movieForm">
									<input type="image" name="submit" width="368" height="200"
										th:src="'http://10.11.39.164/Video/'+*{movie_id}+'/'+ *{thumbnail}" alt="送信">
									<h3 class="movie_font" th:text=*{movie_title}></h3>
								</form>
							</div>
						</div>
					</div>

				</div>




			<!-- 共通スクリプト -->
			<th:block th:insert="components/part::frag_script"></th:block>

		</html>
